.heart-beat {
  padding: 0;
  opacity: 0.5;
  -webkit-animation: heart-beat 1.3s infinite ease-in-out;
  -moz-animation: heart-beat 1.3s infinite ease-in-out;
  -o-animation: heart-beat 1.3s infinite ease-in-out;
  animation: heart-beat 1.3s infinite ease-in-out;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.heart-shape {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: red;
  border-radius: 3px;
  transform: rotate(45deg);
  top: 50%;
  left: 50%;
  margin: -150px;
}

.heart-shape:before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: red;
  border-radius: 50%;
  top: 0px;
  left: -150px;
}

.heart-shape:after {
  position: absolute;
  width: 300px;
  height: 300px;
  content: "";
  background-color: red;
  border-radius: 50%;
  left: 0px;
  top: -150px;
}

@-webkit-keyframes heart-beat {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes heart-beat {
  0%,
  100% {
    -moz-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

@-o-keyframes heart-beat {
  0%,
  100% {
    -o-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes heart-beat {
  0%,
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
